:root {
    --red-colour: rgb(171, 72, 128);
    --blue-colour: rgb(73, 77, 174);
    --dark-gray: rgb(48, 48, 48);
    --background-light-gray: rgb(195, 196, 217);
    --side-rectangle-2-box-shadow-colour: rgba(73, 77, 174, 0.5);
    --side-rectangle-3-box-shadow-colour: rgba(41, 46, 188, 0.5);
    --side-rectangle-4-box-shadow-colour: rgba(19, 23, 182, 0.63);

    --dot-duration: 3s;
    --dot-animation: dotAnimation var(--dot-duration) linear infinite alternate;
    --dot-2-animation-delay: calc(var(--dot-duration) * -0.25);
    --dot-3-animation-delay: calc(var(--dot-duration) * -0.5);
    --dot-4-animation-delay: calc(var(--dot-duration) * -0.75);

    --side-rectangle-2-box-shadow: inset 34px 0px 27px 0px var(--side-rectangle-2-box-shadow-colour);
    --side-rectangle-3-box-shadow: inset 25px 0px 40px 0px var(--side-rectangle-3-box-shadow-colour);

    --accuracy-line-x: 1260px;
    --team-avatar-x: 11px;
    --team-name-x: 169.688px;
    --team-seed-x: 169.287px;
    --bottom-row-side-rectangle-1-x: 0px;
    --bottom-row-side-rectangle-2-x: 60px;
    --bottom-row-side-rectangle-3-x: 120px;
    --bottom-row-side-rectangle-4-x: 180px;
}

/* Whole Body */
body { font-family: "Orlando Caps CG"; }
.main { background-image: url("static/background.png") }

/* Round Name Back */
.round-name-back {
    position: absolute;
    top: -21px;
    left: -15px;
}
/* Round Name Front */
.round-name-front {
    font-size: 66.667px;
    color: var(--dark-gray);
    position: absolute;
    left: 75.933px;
    top: 41.237px;
    letter-spacing: -0.75px;
}

/* Dots Container */
.four-dots-container {
    position: absolute;
    top: 73px;
    left: 960px;
    display: flex;
    gap: 15px;
}
.dot {
    --dimension: 10px;
    border-radius: var(--dimension);
    width: var(--dimension);
    height: var(--dimension);
    background-color: rgb(41, 46, 188);
}

/* Dot Animations */
.dot-1 { animation: var(--dot-animation) }
.dot-2 {
    animation: var(--dot-animation);
    animation-delay: var(--dot-2-animation-delay);
}
.dot-3 {
    animation: var(--dot-animation);
    animation-delay: var(--dot-3-animation-delay);
}
.dot-4 {
    animation: var(--dot-animation);
    animation-delay: var(--dot-4-animation-delay);
}
@keyframes dotAnimation {
    0% { background-color: rgb(19, 23, 182); }
    100% { background-color: rgb(165, 166, 202)}
}
 
/* Tourney Name */
.tourney-name {
    position: absolute;
    right: 296.812px;
    top: 47px;
    font-size: 41.667px;
    color: var(--dark-gray);
    width: 240px;
    text-align: right;
    line-height: 30px;
}

/* Side Rectangles */
.side-rectangle {
    background-color: var(--background-light-gray);
    position: absolute;
    top: 0px;
    width: 60px;
    height: 155px;
}
.side-rectangle-1 { left: 1680px; }
.side-rectangle-2 {
    box-shadow: var(--side-rectangle-2-box-shadow);
    left: 1740px;
}
.side-rectangle-3 {
    box-shadow: var(--side-rectangle-3-box-shadow);
    left: 1800px;
}
.side-rectangle-4 {
    box-shadow: inset 38px 0px 57px 0px var(--side-rectangle-4-box-shadow-colour);
    left: 1860px;
}

/* Accuracy Line */
.accuracy-line {
    position: absolute;
    top: 875px;
    width: 660px;
    height: 13px;
}
.red-accuracy-line {
    background-color: var(--red-colour);
    right: var(--accuracy-line-x);
}
.blue-accuracy-line {
    background-color: var(--blue-colour);
    left: var(--accuracy-line-x);
}

/* Team Avatars */
.team-avatar {
    --dimension: 137px;
    border: 3px solid rgb(32, 32, 32);
    position: absolute;
    top: 886px;
    width: var(--dimension);
    height: var(--dimension);
}
.red-team-avatar { left: var(--team-avatar-x); }
.blue-team-avatar { right: var(--team-avatar-x); }

/* Team Names */
.team-name {
    font-size: 50px;
    position: absolute;
    top: 890px;
    letter-spacing: -0.75px;
}
.red-team-name { 
    color: var(--red-colour);
    left: var(--team-name-x);
}
.blue-team-name { 
    color: var(--blue-colour);
    right: var(--team-name-x);
}

/* Team Seed */
.team-seed {
    font-size: 25px;
    position: absolute;
    top: 935.5px;
    letter-spacing: -0.75px;
}
.red-team-seed {
    color: var(--red-colour);
    left: var(--team-seed-x)
}
.blue-team-seed {
    color: var(--blue-colour);
    right: var(--team-seed-x)
}

/* Team Star Container */
.team-star-container {
    position: absolute;
    left: 170px;
    top: 966px;
    display: flex;
    gap: 2px;
    height: 58px;
}
.red-team-star-container { left: 170px; }
.blue-team-star-container {
    right: 170px;
    flex-direction: row-reverse;
}
/* star Wrapper */
.star-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 58px;
}

/* Bottom Row Cosmetics */
.bottom-row-side-rectangle {
    background-color: var(--background-light-gray);
    position: absolute;
    top: 1029px;
    height: 51px;
}
.bottom-row-side-rectangle-minor-width { width: 60px; }

/* Bottom Row Side 1*/
.bottom-row-side-rectangle-1-left { left: var(--bottom-row-side-rectangle-1-x); }
.bottom-row-side-rectangle-1-right { right: var(--bottom-row-side-rectangle-1-x); }
/* Bottom Row Side 2 */
.bottom-row-side-rectangle-2-left {
    left: var(--bottom-row-side-rectangle-2-x);
    box-shadow: var(--side-rectangle-2-box-shadow);
}
.bottom-row-side-rectangle-2-right {
    right: var(--bottom-row-side-rectangle-2-x);
    box-shadow: inset -34px 0px 27px 0px var(--side-rectangle-2-box-shadow-colour);
}

/* Bottom Row Side Rectangle 3 */
.bottom-row-side-rectangle-3-left {
    left: var(--bottom-row-side-rectangle-3-x);
    box-shadow: var(--side-rectangle-3-box-shadow);
}
.bottom-row-side-rectangle-3-right {
    right: var(--bottom-row-side-rectangle-3-x);
    box-shadow: inset -25px 0px 40px 0px var(--side-rectangle-3-box-shadow-colour);
}

/* Bottom Row Side Rectangle 4 */
.bottom-row-side-rectangle-4 { width: 780px; }
.bottom-row-side-rectangle-4-left {
    left: var(--bottom-row-side-rectangle-4-x);
    box-shadow: inset 245px 0px 125px 0px var(--side-rectangle-4-box-shadow-colour);
}
.bottom-row-side-rectangle-4-right {
    right: var(--bottom-row-side-rectangle-4-x);
    box-shadow: inset -245px 0px 125px 0px var(--side-rectangle-4-box-shadow-colour);
}