:root {
    --red-colour: rgb(171, 72, 128);
    --blue-colour: rgb(73, 77, 174);
    
    --background-light-gray: rgb(195, 196, 217);
    
    --side-rectangle-2-box-shadow-colour: rgba(73, 77, 174, 0.5);
    --side-rectangle-3-box-shadow-colour: rgba(41, 46, 188, 0.5);
    --side-rectangle-4-box-shadow-colour: rgba(19, 23, 182, 0.63);

    --dot-duration: 3s;
    --dot-animation: dotAnimation var(--dot-duration) linear infinite alternate;
    --dot-2-animation-delay: calc(var(--dot-duration) * -0.25);
    --dot-3-animation-delay: calc(var(--dot-duration) * -0.5);
    --dot-4-animation-delay: calc(var(--dot-duration) * -0.75);

    --side-rectangle-2-box-shadow: inset 34px 0px 27px 0px var(--side-rectangle-2-box-shadow-colour);
    --side-rectangle-3-box-shadow: inset 25px 0px 40px 0px var(--side-rectangle-3-box-shadow-colour);

    --now-playing-subsection-duration: 14s;
    --now-playing-subsection-animation: nowPlayingSubsection var(--now-playing-subsection-duration) infinite forwards linear;
    --now-playing-subsection-animation-delay: calc(var(--now-playing-subsection-duration) / 2);

    --accuracy-line-x: 1260px;
    --bottom-row-side-rectangle-1-x: 0px;
    --bottom-row-side-rectangle-2-x: 60px;
    --bottom-row-side-rectangle-3-x: 120px;
    --bottom-row-side-rectangle-4-x: 180px;
    --playing-score-x: 478.5px;
    --bottom-middle-section-height: 154px;
}

/* Whole Body */
body { font-family: "Orlando Caps CG"; }
.main { background-image: url("static/background.png") }

/* Round Name Back */
.round-name-back {
    position: absolute;
    top: -21px;
    left: -15px;
}
/* Round Name Front */
.round-name-front {
    font-size: 66.667px;
    color: var(--dark-gray);
    position: absolute;
    left: 75.933px;
    top: 41.237px;
    letter-spacing: -0.75px;
}

/* Dots Container */
.four-dots-container {
    position: absolute;
    top: 73px;
    left: 960px;
    display: flex;
    gap: 15px;
}
.dot {
    --dimension: 10px;
    border-radius: var(--dimension);
    width: var(--dimension);
    height: var(--dimension);
    background-color: rgb(41, 46, 188);
}

/* Dot Animations */
.dot-1 { animation: var(--dot-animation) }
.dot-2 {
    animation: var(--dot-animation);
    animation-delay: var(--dot-2-animation-delay);
}
.dot-3 {
    animation: var(--dot-animation);
    animation-delay: var(--dot-3-animation-delay);
}
.dot-4 {
    animation: var(--dot-animation);
    animation-delay: var(--dot-4-animation-delay);
}
@keyframes dotAnimation {
    0% { background-color: rgb(19, 23, 182); }
    100% { background-color: rgb(165, 166, 202)}
}
 
/* Tourney Name */
.tourney-name {
    position: absolute;
    right: 296.812px;
    top: 47px;
    font-size: 41.667px;
    color: var(--dark-gray);
    width: 240px;
    text-align: right;
    line-height: 30px;
}

/* Side Rectangles */
.side-rectangle {
    background-color: var(--background-light-gray);
    position: absolute;
    top: 0px;
    width: 60px;
    height: 155px;
}
.side-rectangle-1 { left: 1680px; }
.side-rectangle-2 {
    box-shadow: var(--side-rectangle-2-box-shadow);
    left: 1740px;
}
.side-rectangle-3 {
    box-shadow: var(--side-rectangle-3-box-shadow);
    left: 1800px;
}
.side-rectangle-4 {
    box-shadow: inset 38px 0px 57px 0px var(--side-rectangle-4-box-shadow-colour);
    left: 1860px;
}

/* Accuracy Line */
.accuracy-line {
    position: absolute;
    top: 875px;
    width: 660px;
    height: 13px;
    transition: 500ms ease-in-out;
}
.red-accuracy-line {
    background-color: var(--red-colour);
    right: var(--accuracy-line-x);
}
.blue-accuracy-line {
    background-color: var(--blue-colour);
    left: var(--accuracy-line-x);
}

/* Team Data */
.team-data { top: 886px; }

/* Bottom Middle Section */
.bottom-middle-section {
    position: absolute;
    left: 660px;
    top: 875px;
    width: 602px;
    height: var(--bottom-middle-section-height);
}

/* Now Playing Overlay */
.now-playing-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark-gray);
    opacity: 0.8;
}
/* Now Playing Border */
.now-playing-border {
    --border-width: 5px;
    position: absolute;
    border: var(--border-width) solid;
    border-color: var(--red-colour);
    width: calc(100% - var(--border-width) * 2);
    height: calc(100% - var(--border-width) * 2);
}
/* Now Playing Subsection */
.now-playing-subsection {
    --indent: 25px;
    --dimension: calc(100% - var(--indent) * 2);
    position: absolute;
    top: var(--indent);
    left: var(--indent);
    font-family: "Orlando Caps CG";
    color: var(--background-light-gray);
    width: var(--dimension);
    height: var(--dimension);
    opacity: 0;
    animation: var(--now-playing-subsection-animation);

    display: flex;
    align-items: center;
}
/* Now Playing Metadata */
.now-playing-metadata {
    font-size: 20px;
    flex-direction: column;
    justify-content: space-between;
}
.now-playing-metadata > * {
    width: 551px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.now-playing-song-title {
    color: var(--light-gray);
    font-size: 25px;
}
/* Now Playing Stats */
.now-playing-stats {
    font-size: 25px;
    flex-wrap: wrap;
    justify-content: center;
    animation-delay: var(--now-playing-subsection-animation-delay)
}
.now-playing-stats > * {
    width: calc(100% / 3);
}
.now-playing-stats :nth-child(1), .now-playing-stats :nth-child(4) { text-align: left; }
.now-playing-stats :nth-child(2), .now-playing-stats :nth-child(5),  .now-playing-stats :nth-child(7) { text-align: center; }
.now-playing-stats :nth-child(3), .now-playing-stats :nth-child(6) { text-align: right; }
/* Now Playing Subsection rotations */
@keyframes nowPlayingSubsection {
    0% { opacity: 0; }
    7% { opacity: 1; }
    43% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

/* Chat Display */
.chat-display { transition: 500ms ease-in-out; }
.chat-display-title {
    width: calc(100% - var(--chat-display-padding-left));
    padding-left: var(--chat-display-padding-left);
    transition: 400ms ease-in-out;
}

/* Bottom Row Cosmetics */
.bottom-row-side-rectangle {
    background-color: var(--background-light-gray);
    position: absolute;
    top: 1029px;
    height: 51px;
}
.bottom-row-side-rectangle-minor-width { width: 60px; }

/* Bottom Row Side 1*/
.bottom-row-side-rectangle-1-left { left: var(--bottom-row-side-rectangle-1-x); }
.bottom-row-side-rectangle-1-right { right: var(--bottom-row-side-rectangle-1-x); }
/* Bottom Row Side 2 */
.bottom-row-side-rectangle-2-left {
    left: var(--bottom-row-side-rectangle-2-x);
    box-shadow: var(--side-rectangle-2-box-shadow);
}
.bottom-row-side-rectangle-2-right {
    right: var(--bottom-row-side-rectangle-2-x);
    box-shadow: inset -34px 0px 27px 0px var(--side-rectangle-2-box-shadow-colour);
}

/* Bottom Row Side Rectangle 3 */
.bottom-row-side-rectangle-3-left {
    left: var(--bottom-row-side-rectangle-3-x);
    box-shadow: var(--side-rectangle-3-box-shadow);
}
.bottom-row-side-rectangle-3-right {
    right: var(--bottom-row-side-rectangle-3-x);
    box-shadow: inset -25px 0px 40px 0px var(--side-rectangle-3-box-shadow-colour);
}

/* Bottom Row Side Rectangle 4 */
.bottom-row-side-rectangle-4 { width: 780px; }
.bottom-row-side-rectangle-4-left {
    left: var(--bottom-row-side-rectangle-4-x);
    box-shadow: inset 245px 0px 125px 0px var(--side-rectangle-4-box-shadow-colour);
}
.bottom-row-side-rectangle-4-right {
    right: var(--bottom-row-side-rectangle-4-x);
    box-shadow: inset -245px 0px 125px 0px var(--side-rectangle-4-box-shadow-colour);
}

/* Playing Score */
.playing-score {
    position: absolute;
    top: 1029px;
    font-size: 46px;
    font-family: "Bell MT";
    color: var(--light-gray);
    letter-spacing: 1px;
    transition: 500ms ease-in-out;
}
.red-playing-score {
    left: var(--playing-score-x);
    transform: scaleY(0.8) translateX(-50%);
}
.blue-playing-score {
    right: var(--playing-score-x);
    transform: scaleY(0.8) translateX(50%);
}

/* Score Difference Text */
.difference {
    position: absolute;
    left: 50%;
    font-family: "Bell MT";
    color: var(--light-gray);
    transition: 500ms ease-in-out;
}
.difference-text {
    top: 1028.5px;
    font-size: 21px;
    transform: translateX(-50%);
    opacity: 1;
}
.difference-number {
    top: 1044px;
    font-size: 33.333px;
    transform: scaleY(0.8) translateX(-50%);
    opacity: 1;
}