/* Font Family */
@font-face {
    font-family: "Orlando Caps CG";
    src: url("../fonts/Orlando\ Caps\ CG\ Regular.otf");
}

/* Whole Page */
.main {
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1080px;
    background-image: url("static/background.png");
    margin: 0;
    overflow: hidden;
}