:root {
    --red-colour: rgb(171, 72, 128);
    --blue-colour: rgb(73, 77, 174);
    --dark-gray: rgb(48, 48, 48);
    --light-gray: rgb(225, 225, 225);
    --chat-title-gray: rgb(125, 125, 125);

    --team-avatar-x: 11px;
    --team-name-x: 169.688px;
    --team-seed-x: 169.287px;
    --chat-display-title-height: 35px;
    --chat-display-padding-left: 10px;
    --chat-display-container-padding-top: 5px;
}

/* Font Family */
@font-face {
    font-family: "Orlando Caps CG";
    src: url("../fonts/Orlando\ Caps\ CG\ Regular.otf");
}
@font-face {
    font-family: "Bell MT";
    src: url("../fonts/bell-mt.ttf");
}
@font-face {
    font-family: "Torus";
    src: url("../fonts/Torus\ Bold.otf");
    font-weight: 700;
}


/* Whole Page */
.main {
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1080px;
    margin: 0;
    overflow: hidden;
}

/* Noise */
.noise {
    position: absolute;
    left: 0;
    top: 0;
    mix-blend-mode: color-dodge;
    z-index: 1;
}

/* Team Data */
.team-data { position: relative; }

/* Team Avatars */
.team-avatar {
    --dimension: 137px;
    border: 3px solid rgb(32, 32, 32);
    position: absolute;
    width: var(--dimension);
    height: var(--dimension);
    background: center / cover;
}
.red-team-avatar { left: var(--team-avatar-x); }
.blue-team-avatar { right: var(--team-avatar-x); }

/* Team Names */
.team-name {
    font-size: 50px;
    position: absolute;
    top: 5px;
    letter-spacing: -0.75px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 480px;
}
.red-team-name { 
    color: var(--red-colour);
    left: var(--team-name-x);
}
.blue-team-name { 
    color: var(--blue-colour);
    right: var(--team-name-x);
    text-align: right;
}

/* Team Seed */
.team-seed {
    font-size: 25px;
    position: absolute;
    top: 50px;
    letter-spacing: -0.75px;
}
.red-team-seed {
    color: var(--red-colour);
    left: var(--team-seed-x);
}
.blue-team-seed {
    color: var(--blue-colour);
    right: var(--team-seed-x);
}

/* Team Star Container */
.team-star-container {
    position: absolute;
    left: 170px;
    top: 80px;
    display: flex;
    gap: 2px;
    height: 58px;
}
.red-team-star-container { left: 170px; }
.blue-team-star-container {
    right: 170px;
    flex-direction: row-reverse;
}
/* star Wrapper */
.star-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 58px;
}

/* Hand */
.hand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 162px;
    width: 70px;
    height: 167px;
    animation: hand-animation 2s ease-in-out infinite alternate;
}
@keyframes hand-animation {
    from { opacity: 0.6; }
    to { opacity: 1; }
}

/* Chat Display */
.chat-display {
    background-color: var(--dark-gray);
    overflow: hidden;
}
.chat-display-title {
    position: absolute;
    height: var(--chat-display-title-height);
    background-color: var(--chat-title-gray);
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.75em;
    z-index: 1;
}
.chat-display-live-title-text {
    opacity: 1;
    transition: 200ms ease-in-out;
}
.chat-display-container {
    position: absolute;
    top: 0;
    margin-top: 5px;
    margin-left: var(--chat-display-padding-left);
    width: calc(100% - var(--chat-display-padding-left) * 2);
    height: calc(100% -  (var(--chat-display-container-padding-top) * 2));
    color: var(--light-gray);
    font-family: "Torus";
    font-weight: 700;
    font-size: 1.25em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
    scroll-behavior: smooth;
    transition: 200ms ease-in-out;
}
.unknown { color: yellow; }
.left { color: rgb(255, 0, 0); }
.right { color: rgb(0, 247, 255); }
.bot { color: rgb(255, 136, 0); }