/* Font Family */
@font-face {
    font-family: "Orlando Caps CG";
    src: url("../fonts/Orlando\ Caps\ CG\ Regular.otf");
}
@font-face {
    font-family: "Bell MT";
    src: url("../fonts/bell-mt.ttf");
}

/* Whole Page */
.main {
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1080px;
    margin: 0;
    overflow: hidden;
}

/* Noise */
.noise {
    position: absolute;
    left: 0;
    top: 0;
    mix-blend-mode: color-dodge;
}