:root {
    --logo-animation: 60s linear infinite;
    --logo-total-movement: 2400px;
    --logo-left-start-y: 1070px;
    --logo-left-below-y: calc(var(--logo-left-start-y) + var(--logo-total-movement));
    --logo-left-above-y: calc(var(--logo-left-start-y) - var(--logo-total-movement));
    --logo-right-start-y: -190px;
    --logo-right-below-y: calc(var(--logo-right-start-y) + var(--logo-total-movement));
    --logo-right-above-y: calc(var(--logo-right-start-y) - var(--logo-total-movement));

    --background-light-gray: #E1E1E1;
    --dark-gray: #303030;
    --solid-dark-gray-border: solid var(--dark-gray);
    --solid-dark-gray-border-2px: 2px var(--solid-dark-gray-border);
    --red: darkred;
    --green: darkgreen;
}

/* Body */
body {
    margin: 0;
    font-family: "Orlando Caps CG";
}

/* Whole Page */
.main {
    background-image: url("assets/intro-winner-background.png");
}

/* Logo Left */
.logo-left {
    position: absolute;
    left: -1116px;
    transform: rotate(90deg);
    animation: var(--logo-animation);
}
.logo-left-1 {
    top: var(--logo-left-start-y);
    animation-name: logo-left-1-animation;
}
.logo-left-2 {
    top: var(--logo-left-below-y);
    animation-name: logo-left-2-animation;
}
@keyframes logo-left-1-animation {
    0% { top: var(--logo-left-start-y); }
    49% { top: var(--logo-left-below-y); }
    50% { 
        top: var(--logo-left-above-y);
        display: none;
    }
    51% { display: block; }
    100% { top: var(--logo-left-start-y); }
}
@keyframes logo-left-2-animation {
    0% { top: var(--logo-left-above-y); }
    100% { top: var(--logo-left-below-y); }
}

/* Logo Right */
.logo-right {
    position: absolute;
    transform: rotate(-90deg);
    left: 637px;
    animation: var(--logo-animation);
}
.logo-right-1 {
    top: var(--logo-right-start-y);
    animation-name: logo-right-1-animation;
}
.logo-right-2 {
    top: var(--logo-right-below-y);
    animation-name: logo-right-2-animation;
}
@keyframes logo-right-1-animation {
    0% { top: var(--logo-right-start-y); }
    49% { top: var(--logo-right-above-y); }
    50% { 
        top: var(--logo-right-below-y);
        display: none;
    }
    51% { display: block; }
    100% { top: var(--logo-right-start-y); }
}
@keyframes logo-right-2-animation {
    0% { top: var(--logo-right-below-y); }
    100% { top: var(--logo-right-above-y); }
}