:root {
    --logo-animation: 60s linear infinite;
    --logo-total-movement: 2400px;
    --logo-left-start-y: 1070px;
    --logo-left-below-y: calc(var(--logo-left-start-y) + var(--logo-total-movement));
    --logo-left-above-y: calc(var(--logo-left-start-y) - var(--logo-total-movement));
    --logo-right-start-y: -190px;
    --logo-right-below-y: calc(var(--logo-right-start-y) + var(--logo-total-movement));
    --logo-right-above-y: calc(var(--logo-right-start-y) - var(--logo-total-movement));
}

/* Font Family */
@font-face {
    font-family: "Orlando Caps CG";
    src: url("../fonts/Orlando\ Caps\ CG\ Regular.otf");
}

/* Body */
body {
    margin: 0;
}

/* Whole Page */
.main { background-image: url("static/background.png"); }

/* Timer */
.timer {
    position: absolute;
    left: 50%;
    top: 301px;
    transform: translateX(-50%);
    font-size: 100px;
    font-family: "Orlando Caps CG";
    color: rgb(48, 48, 48);
    line-height: 1.2;
}

/* Logo Left */
.logo-left {
    position: absolute;
    left: -1116px;
    transform: rotate(90deg);
}
.logo-left-1 {
    top: var(--logo-left-start-y);
    animation: var(--logo-animation);
    animation-name: logo-left-1-animation;
}
.logo-left-2 {
    top: var(--logo-left-below-y);
    animation: var(--logo-animation);
    animation-name: logo-left-2-animation;
}
@keyframes logo-left-1-animation {
    0% { top: var(--logo-left-start-y); }
    49% { top: var(--logo-left-below-y); }
    50% { 
        top: var(--logo-left-above-y);
        display: none;
    }
    51% { display: block; }
    100% { top: var(--logo-left-start-y); }
}
@keyframes logo-left-2-animation {
    0% { top: var(--logo-left-above-y); }
    100% { top: var(--logo-left-below-y); }
}

/* Logo Right */
.logo-right {
    position: absolute;
    transform: rotate(-90deg);
    left: 637px;
}
.logo-right-1 {
    top: var(--logo-right-start-y);
    animation: var(--logo-animation);
    animation-name: logo-right-1-animation;
}
.logo-right-2 {
    top: var(--logo-right-below-y);
    animation: var(--logo-animation);
    animation-name: logo-right-2-animation;
}
@keyframes logo-right-1-animation {
    0% { top: var(--logo-right-start-y); }
    49% { top: var(--logo-right-above-y); }
    50% { 
        top: var(--logo-right-below-y);
        display: none;
    }
    51% { display: block; }
    100% { top: var(--logo-right-start-y); }
}
@keyframes logo-right-2-animation {
    0% { top: var(--logo-right-below-y); }
    100% { top: var(--logo-right-above-y); }
}

/* Hand */
.hand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 162px;
    width: 70px;
    height: 167px;
    animation: hand-animation 2s ease-in-out infinite alternate;
}
@keyframes hand-animation {
    from { opacity: 0.6; }
    to { opacity: 1; }
}

/* Noise */
.noise {
    position: absolute;
    left: 0;
    top: 0;
    mix-blend-mode: color-dodge;
}

/* Sidebar */
.sidebar {
    position: absolute;
    left: 1920px;
    top: 0;
    width: 250px;
    height: 1080px;
    color: black;
    font-size: 1.25rem;
    background-color: #E1E1E1;
    font-family: "Orlando Caps CG";
    overflow: hidden;
}

/* Sidebar Timer */
.sidebar-timer {
    width: 250px;
    height: inherit;
}
.sidebar-timer > * { margin-left: 20px; }
.sidebar-stream-idle-text {
    position: absolute;
    left: 270px;
    top: 0;
    width: 230px;
    height: inherit;
    border-right: 2px solid rgb(48, 48, 48);
}
.sidebar-team-text {
    position: absolute; 
    left: 520px;
    top: 0;
    width: 230px;
    height: inherit;
}

/* Sidebar title */
.sidebar-title {
    padding-top: 10px;
    font-size: 2rem;
}
#team-vs-text {
    margin-right: 20px;
    margin-bottom: 40px;
}
/* Sidebar text */
.sidebar-text { margin-bottom: 10px; }
#sidebar-red-team-text { color: lightpink; }
#sidebar-blue-team-text { color: lightblue; }

/* Sidebar input */
.sidebar-input {
    width: 100px;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: none;
    color: rgb(48, 48, 48);
    border: none;
    border-bottom: 1px solid rgb(48, 48, 48);
    margin-bottom: 10px;
}
.sidebar-input[type="number"]::-webkit-inner-spin-button, 
.sidebar-input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.sidebar-input-long { 
    width: 210px;
    text-align: left;
}

/* Sidebar Button */
.sidebar-button {
    width: 210px;
    height: 50px;
    border-radius: 10px;
    background: none;
    border: 2px solid rgb(48, 48, 48);
    margin-top: 20px;
    color: rgb(48, 48, 48);
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    cursor: pointer;
}
.sidebar-button:active {
    background-color: rgb(48, 48, 48);
    color: #E1E1E1;
}
.sidebar-button-large { height: 80px; }

/* Timer Containers */
#normal-timer { height: 470px; }
#utc-timer { height: 250px; }

/* Timer Error Message */
.timer-error-message {
    margin-top: 10px;
    color: darkred;
    margin-right: 20px;
    display: none;
}

/* Time Input */
.time-input { width: 60px; }

/* Border Light Pink */
.light-green-button {
    border-color: darkgreen;
    color: darkgreen;
}
.light-green-button:active {
    background-color: darkgreen;
    color: #E1E1E1;
}
.light-pink-button { 
    border-color: darkred;
    color: darkred;
}
.light-pink-button:active {
    background-color: darkred;
    color: #E1E1E1;
}

/* Sidebar custom text */
#sidebar-custom-text { margin-right: 20px; }

/* Sidebar text area */
.sidebar-textarea {
    width: 200px;
    height: 100px;
    background-color: #1d8d68;
    color: rgb(48, 48, 48);
    border: 2px solid rgb(48, 48, 48);
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: inherit;
    resize: none;
}