:root {
    --logo-animation: 60s linear infinite;
    --logo-total-movement: 2400px;
    --logo-left-start-y: 1070px;
    --logo-left-below-y: calc(var(--logo-left-start-y) + var(--logo-total-movement));
    --logo-left-above-y: calc(var(--logo-left-start-y) - var(--logo-total-movement));
    --logo-right-start-y: -190px;
    --logo-right-below-y: calc(var(--logo-right-start-y) + var(--logo-total-movement));
    --logo-right-above-y: calc(var(--logo-right-start-y) - var(--logo-total-movement));

    --background-light-gray: #E1E1E1;
    --dark-gray: #303030;
    --solid-dark-gray-border: solid var(--dark-gray);
    --solid-dark-gray-border-2px: 2px var(--solid-dark-gray-border);
    --red: darkred;
    --green: darkgreen;
}

/* Font Family */
@font-face {
    font-family: "Orlando Caps CG";
    src: url("../fonts/Orlando\ Caps\ CG\ Regular.otf");
}

/* Body */
body {
    margin: 0;
    font-family: "Orlando Caps CG";
}

/* Whole Page */
.main {
    background-image: url("static/background.png");
}

/* Timer */
.timer {
    position: absolute;
    left: 50%;
    top: 301px;
    transform: translateX(-50%);
    font-size: 6.25em;
    color: var(--dark-gray);
    line-height: 1.2;
}

/* Logo Left */
.logo-left {
    position: absolute;
    left: -1116px;
    transform: rotate(90deg);
    animation: var(--logo-animation);
}
.logo-left-1 {
    top: var(--logo-left-start-y);
    animation-name: logo-left-1-animation;
}
.logo-left-2 {
    top: var(--logo-left-below-y);
    animation-name: logo-left-2-animation;
}
@keyframes logo-left-1-animation {
    0% { top: var(--logo-left-start-y); }
    49% { top: var(--logo-left-below-y); }
    50% { 
        top: var(--logo-left-above-y);
        display: none;
    }
    51% { display: block; }
    100% { top: var(--logo-left-start-y); }
}
@keyframes logo-left-2-animation {
    0% { top: var(--logo-left-above-y); }
    100% { top: var(--logo-left-below-y); }
}

/* Logo Right */
.logo-right {
    position: absolute;
    transform: rotate(-90deg);
    left: 637px;
    animation: var(--logo-animation);
}
.logo-right-1 {
    top: var(--logo-right-start-y);
    animation-name: logo-right-1-animation;
}
.logo-right-2 {
    top: var(--logo-right-below-y);
    animation-name: logo-right-2-animation;
}
@keyframes logo-right-1-animation {
    0% { top: var(--logo-right-start-y); }
    49% { top: var(--logo-right-above-y); }
    50% { 
        top: var(--logo-right-below-y);
        display: none;
    }
    51% { display: block; }
    100% { top: var(--logo-right-start-y); }
}
@keyframes logo-right-2-animation {
    0% { top: var(--logo-right-below-y); }
    100% { top: var(--logo-right-above-y); }
}

/* Hand */
.hand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 162px;
    width: 70px;
    height: 167px;
    animation: hand-animation 2s ease-in-out infinite alternate;
}
@keyframes hand-animation {
    from { opacity: 0.6; }
    to { opacity: 1; }
}

/* Noise */
.noise {
    position: absolute;
    left: 0;
    top: 0;
    mix-blend-mode: color-dodge;
}

/* Sidebar */
.sidebar {
    position: absolute;
    left: 1920px;
    top: 0;
    width: 250px;
    height: 1080px;
    color: black;
    font-size: 1.25em;
    background-color: var(--background-light-gray);
    overflow: hidden;
}

/* Sidebar Timer */
.sidebar-timer {
    width: 250px;
    height: inherit;
}
.sidebar-timer > * { margin-left: 20px; }
.sidebar-stream-idle-text {
    position: absolute;
    left: 270px;
    top: 0;
    width: 230px;
    height: inherit;
    border-right: var(--solid-dark-gray-border-2px);
}
.sidebar-team-text {
    position: absolute; 
    left: 520px;
    top: 0;
    width: 230px;
    height: inherit;
}

/* Sidebar title */
.sidebar-title {
    padding-top: 10px;
    font-size: 2em;
}
#team-vs-text {
    margin-right: 20px;
    margin-bottom: 40px;
}
/* Sidebar text */
.sidebar-text { margin-bottom: 10px; }
#sidebar-red-team-text { color: lightpink; }
#sidebar-blue-team-text { color: lightblue; }

/* Sidebar input */
.sidebar-input {
    width: 100px;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    background: none;
    color: var(--dark-gray);
    border: none;
    border-bottom: 1px var(--solid-dark-gray-border);
    margin-bottom: 10px;
}
.sidebar-input[type="number"]::-webkit-inner-spin-button, 
.sidebar-input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.sidebar-input-long { 
    width: 210px;
    text-align: left;
}

/* Sidebar Button */
.sidebar-button {
    width: 210px;
    height: 50px;
    border-radius: 10px;
    background: none;
    border: var(--solid-dark-gray-border-2px);
    margin-top: 20px;
    color: var(--dark-gray);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}
.sidebar-button:active {
    background-color: var(--dark-gray);
    color: var(--background-light-gray);
}
.sidebar-button-large { height: 80px; }

/* Timer Containers */
#normal-timer { height: 470px; }
#utc-timer { height: 250px; }

/* Timer Error Message */
.timer-error-message {
    margin-top: 10px;
    color:var(--red);
    margin-right: 20px;
    display: none;
}

/* Time Input */
.time-input { width: 60px; }

/* Border Light Pink */
.light-green-button {
    border-color: var(--green);
    color: var(--green);
}
.light-green-button:active {
    background-color: var(--green);
    color: var(--background-light-gray);
}
.light-pink-button { 
    border-color:var(--red);
    color:var(--red);
}
.light-pink-button:active {
    background-color:var(--red);
    color: var(--background-light-gray);
}

/* Sidebar custom text */
#sidebar-custom-text { margin-right: 20px; }

/* Sidebar text area */
.sidebar-textarea {
    width: 200px;
    height: 100px;
    background-color: #1d8d68;
    color: var(--dark-gray);
    border: var(--solid-dark-gray-border-2px);
    font-family: inherit;
    font-size: 1.25em;
    resize: none;
}