/* Timer */
.timer {
    position: absolute;
    left: 50%;
    top: 301px;
    transform: translateX(-50%);
    font-size: 6.25em;
    color: var(--dark-gray);
    line-height: 1.2;
}

/* Sidebar */
.sidebar {
    position: absolute;
    left: 1920px;
    top: 0;
    width: 250px;
    height: 1080px;
    color: black;
    font-size: 1.25em;
    background-color: var(--background-light-gray);
    overflow: hidden;
}

/* Sidebar Timer */
.sidebar-timer {
    width: 250px;
    height: inherit;
}
.sidebar-timer > * { margin-left: 20px; }
.sidebar-stream-idle-text {
    position: absolute;
    left: 270px;
    top: 0;
    width: 230px;
    height: inherit;
    border-right: var(--solid-dark-gray-border-2px);
}
.sidebar-team-text {
    position: absolute; 
    left: 520px;
    top: 0;
    width: 230px;
    height: inherit;
}

/* Sidebar title */
.sidebar-title {
    padding-top: 10px;
    font-size: 2em;
}
#team-vs-text {
    margin-right: 20px;
    margin-bottom: 40px;
}
/* Sidebar text */
.sidebar-text { margin-bottom: 10px; }
#sidebar-red-team-text { color: lightpink; }
#sidebar-blue-team-text { color: lightblue; }

/* Sidebar input */
.sidebar-input {
    width: 100px;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    background: none;
    color: var(--dark-gray);
    border: none;
    border-bottom: 1px var(--solid-dark-gray-border);
    margin-bottom: 10px;
}
.sidebar-input[type="number"]::-webkit-inner-spin-button, 
.sidebar-input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.sidebar-input-long { 
    width: 210px;
    text-align: left;
}

/* Sidebar Button */
.sidebar-button {
    width: 210px;
    height: 50px;
    border-radius: 10px;
    background: none;
    border: var(--solid-dark-gray-border-2px);
    margin-top: 20px;
    color: var(--dark-gray);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}
.sidebar-button:active {
    background-color: var(--dark-gray);
    color: var(--background-light-gray);
}
.sidebar-button-large { height: 80px; }

/* Timer Containers */
#normal-timer { height: 470px; }
#utc-timer { height: 250px; }

/* Timer Error Message */
.timer-error-message {
    margin-top: 10px;
    color:var(--red);
    margin-right: 20px;
    display: none;
}

/* Time Input */
.time-input { width: 60px; }

/* Border Light Pink */
.light-green-button {
    border-color: var(--green);
    color: var(--green);
}
.light-green-button:active {
    background-color: var(--green);
    color: var(--background-light-gray);
}
.light-pink-button { 
    border-color:var(--red);
    color:var(--red);
}
.light-pink-button:active {
    background-color:var(--red);
    color: var(--background-light-gray);
}

/* Sidebar custom text */
#sidebar-custom-text { margin-right: 20px; }

/* Sidebar text area */
.sidebar-textarea {
    width: 200px;
    height: 100px;
    background-color: #1d8d68;
    color: var(--dark-gray);
    border: var(--solid-dark-gray-border-2px);
    font-family: inherit;
    font-size: 1.25em;
    resize: none;
}