:root {
    --logo-animation: 60s linear infinite;
    --logo-total-movement: 2400px;
    --logo-left-start-y: 1070px;
    --logo-left-below-y: calc(var(--logo-left-start-y) + var(--logo-total-movement));
    --logo-left-above-y: calc(var(--logo-left-start-y) - var(--logo-total-movement));
    --logo-right-start-y: -190px;
    --logo-right-below-y: calc(var(--logo-right-start-y) + var(--logo-total-movement));
    --logo-right-above-y: calc(var(--logo-right-start-y) - var(--logo-total-movement));
}

/* Font Family */
@font-face {
    font-family: "Orlando Caps CG";
    src: url("../fonts/Orlando\ Caps\ CG\ Regular.otf");
}

/* Body */
body {
    margin: 0;
}

/* Whole Page */
.main {
    position: absolute;
    left: 0;
    right: 0;
    width: 1920px;
    height: 1080px;
    background-image: url("static/background.png");
    margin: 0;
}

/* Timer */
.timer {
    position: absolute;
    left: 50%;
    top: 301px;
    transform: translateX(-50%);
    font-size: 100px;
    font-family: "Orlando Caps CG";
    color: rgb(48, 48, 48);
    line-height: 1.2;
}

/* Logo Left */
.logo-left {
    position: absolute;
    left: -1116px;
    transform: rotate(90deg);
}
.logo-left-1 {
    top: var(--logo-left-start-y);
    animation: var(--logo-animation);
    animation-name: logo-left-1-animation;
}
.logo-left-2 {
    top: var(--logo-left-below-y);
    animation: var(--logo-animation);
    animation-name: logo-left-2-animation;
}
@keyframes logo-left-1-animation {
    0% { top: var(--logo-left-start-y); }
    49% { top: var(--logo-left-below-y); }
    50% { 
        top: var(--logo-left-above-y);
        display: none;
    }
    51% { display: block; }
    100% { top: var(--logo-left-start-y); }
}
@keyframes logo-left-2-animation {
    0% { top: var(--logo-left-above-y); }
    100% { top: var(--logo-left-below-y); }
}

/* Logo Right */
.logo-right {
    position: absolute;
    transform: rotate(-90deg);
    left: 637px;
}
.logo-right-1 {
    top: var(--logo-right-start-y);
    animation: var(--logo-animation);
    animation-name: logo-right-1-animation;
}
.logo-right-2 {
    top: var(--logo-right-below-y);
    animation: var(--logo-animation);
    animation-name: logo-right-2-animation;
}
@keyframes logo-right-1-animation {
    0% { top: var(--logo-right-start-y); }
    49% { top: var(--logo-right-above-y); }
    50% { 
        top: var(--logo-right-below-y);
        display: none;
    }
    51% { display: block; }
    100% { top: var(--logo-right-start-y); }
}
@keyframes logo-right-2-animation {
    0% { top: var(--logo-right-below-y); }
    100% { top: var(--logo-right-above-y); }
}