:root {
    --choice-container-x: 18px;
    --tile-info-x: 59px;
    --song-metadata-y: 10.625px;
    --mappool-chat-display-padding-left: 25px;
}

/* Whole Body */
body { font-family: "Orlando Caps CG"; }
.main { background-image: url("static/background.png") }

/* Team Data */
.team-data { top: 15px; }

/* Round Text */
.round-text {
    position: absolute;
    left: 50%;
    top: 79px;
    transform: translateX(-50%);
    font-size: 33px;
    color: var(--dark-gray);
    text-align: center;
}

/* Tournament Name */
.tournament-name {
    position: absolute;
    left: 50%;
    top: 21px;
    transform: translateX(-50%);
    font-size: 25px;
    color: var(--dark-gray);
    text-align: center;
    line-height: 0.85;
}

/* Red Choice Container */
.choice-container {
    position: absolute;
    top: 183px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    height: 811px;
    justify-content: center;;
}
.red-choice-container { left: var(--choice-container-x); }
.blue-choice-container { right: var(--choice-container-x); }
/* Tile Container */
.tile-container {
    --height: 69px;
    position: relative;
    border: 3px solid transparent;
    width: 605px;
    height: var(--height);
    border-radius: calc(var(--height) / 2);
    overflow: hidden;
}
.ban-container { border-color: rgba(51, 51, 51, 0.77); }
.red-pick-container { border-color: rgba(171, 72, 128, 0.77); }
.blue-pick-container { border-color: rgba(73, 77, 174, 0.77); }
.tiebreaker-pick-container {
    position: absolute;
    left: 654px;
    top: 413px;
    z-index: 0;
    width: 611px;
    height: 75px;
}
.tiebreaker-pick-container::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 5px;
    background: linear-gradient( -60deg, rgba(19, 23, 182, 0.6), rgba(171, 72, 128, 0.6) );
    mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

/* Tile Background */
.tile-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: inherit;
    background: url("https://assets.ppy.sh/beatmaps/292301/covers/cover.jpg") center / cover;
    border-radius: calc(69px / 2);
    transition: 500ms ease-in-out;
}

/* Inner Background */
.inner-background {
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    height: inherit;
    overflow: hidden;
    border-radius: calc(69px / 2);
    transition: 500ms ease-in-out;
}
.ban-container .inner-background { background-image: linear-gradient(90deg, rgb(79, 79, 79, 0.75), rgb(51, 51, 51, 0.75)); }
.red-pick-container .inner-background { background-image: linear-gradient(90deg, rgb(191, 142, 176, 0.75), rgb(180, 105, 150, 0.75)); }
.blue-pick-container .inner-background { background-image: linear-gradient(90deg, rgb(141, 142, 191, 0.75), rgb(106, 108, 180, 0.75)); }
.tiebreaker-pick-container .inner-background { background-image: linear-gradient(90deg, rgba(171, 72, 128, 0.6), rgba(19, 23, 182, 0.6)); }

/* Tile Identifier */
.tile-identifier {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: var(--tile-info-x);
    font-size: 46px;
    color: var(--light-gray);
    opacity: 0;
    transition: 500ms ease-in-out;
}
/* Song Metadata */
.song-metadata {
    position: absolute;
    left: var(--tile-info-x);
    font-size: 20px;
    color: var(--light-gray);
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overfloW: ellipsis;
    width: 400px;
    transition: 500ms ease-in-out;
}
.artist-title { top: var(--song-metadata-y); }
.mapped-by { bottom: var(--song-metadata-y); }

/* Tile Overlay */
.tile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    color: var(--light-gray);
    transition: 500ms ease-in-out;
    opacity: 0;
}
.red-pick-container .pick-tile-overlay { background-color: rgb(180, 105, 150, 0.75); }
.blue-pick-container .pick-tile-overlay { background-color: hsla(234, 33%, 56%, 0.75); }
.ban-tile-overlay {  background-color: rgba(48, 48, 48, 0.75); }

/* Chat Display */
.chat-display {
    position: absolute;
    left: 657px;
    top: 185px;
    width: 607px;
    height: 208px;
    border-radius: 35px;
}
.chat-display-title {
    width: calc(100% - var(--mappool-chat-display-padding-left));
    padding-left: var(--mappool-chat-display-padding-left);
}
.chat-display-container {
    margin-left: var(--mappool-chat-display-padding-left);
    width: calc(100% - var(--mappool-chat-display-padding-left) * 2);
}

/* Sidebar */
.sidebar {
    position: absolute;
    top: 0;
    left: 1920px;
    width: 500px;
    height: 1080px;
    background-color: var(--light-gray);
    overfloW: hidden;
}
/* Sidebar Column */
.column {
    position: absolute;
    top: 0;
    width: 250px;
}
.column-1 { left: 0; }
.column-2 { left: 250px; }
/* Sidebar Divider */
.divider {
    position: absolute;
    width: 2px;
    height: 1080px;
    background-color: var(--dark-gray);
}
.divider-1 { left: 249px; }
/* Sidebar Section */
.sidebar-section {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--dark-gray);
}
/* Sidebar H1s */
.sidebar-section h1 {
    text-align: center;
    width: 100%;
    font-size: 1.4em;
}
.sidebar-section h2 {
    text-align: center;
    width: 100%;
    font-size: 1.15em;
}
/* Sidebar Text */
.sidebar-text {
    text-align: center;
    font-family: "Torus";
    font-size: 1.2em;
}
.font-family-orlando-caps-cg { font-family: unset; }
/* Sidebar Button Container */
.sidebar-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Sidebar Button */
.sidebar-button {
    --height: 30px;
    width: 110px;
    height: var(--height);
    margin: 5px;
    border-radius: calc(var(--height) / 2);
    border: 2px solid var(--dark-gray);
    background-color: transparent;
    font-size: 1em;
    font-family: inherit;
}
.sidebar-button:active {
    background-color: var(--dark-gray);
    color: var(--light-gray);
}
/* Full Size Button */
.full-size-button {
    width: 230px;
    color: var(--light-gray);
}
/* Apply Changes Button */
.apply-changes-button {
    margin-top: 30px;
    margin-left: 10px;
    height: 50px;
}
.apply-changes-button:active {
    background-color: var(--dark-gray);
    color: var(--light-gray);
}
/* Toggle Button */
.toggle-on { background-color: green; }
.toggle-off { background-color: maroon; }

/* Ban Pick Management Select*/
.ban-pick-management-select {
    width: 250px;
    text-align: center;
    color: var(--dark-gray);
    background-color: transparent;
    border: none;
    font-family: "Torus";
    font-weight: 700;
    font-size: 1.25em;
}
.ban-pick-management-select::-webkit-scrollbar { display: none; }
/* Which Map */
.which-map-select {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.which-side-button {
    --height: 25px;
    height: var(--height);
    line-height: var(--height);
    font-size: 1.25em;
    font-family: "Torus";
    color: var(--secondary-colour);
    background-color: transparent;
    border: none;
}
.which-map-button {
    width: 70px;
}

/* Noise */
.noise { opacity: 0.65; }