/* Whole Body */
body { font-family: "Orlando Caps CG"; }
.main { background-image: url("static/background.png") }

/* Team Data */
.team-data { top: 15px; }

.round-text {
    position: absolute;
    left: 50%;
    top: 78px;
    transform: translateX(-50%);
    font-size: 33.333px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.25px;
}
