:root {
    --red-colour: rgb(171, 72, 128);
    --blue-colour: rgb(73, 77, 174);
    --dark-gray: rgb(48, 48, 48);
    --background-light-gray: rgb(195, 196, 217);
    --chat-title-gray: rgb(125, 125, 125);
    --playing-score-colour: rgb(225, 225, 225);
    --side-rectangle-2-box-shadow-colour: rgba(73, 77, 174, 0.5);
    --side-rectangle-3-box-shadow-colour: rgba(41, 46, 188, 0.5);
    --side-rectangle-4-box-shadow-colour: rgba(19, 23, 182, 0.63);

    --dot-duration: 3s;
    --dot-animation: dotAnimation var(--dot-duration) linear infinite alternate;
    --dot-2-animation-delay: calc(var(--dot-duration) * -0.25);
    --dot-3-animation-delay: calc(var(--dot-duration) * -0.5);
    --dot-4-animation-delay: calc(var(--dot-duration) * -0.75);

    --side-rectangle-2-box-shadow: inset 34px 0px 27px 0px var(--side-rectangle-2-box-shadow-colour);
    --side-rectangle-3-box-shadow: inset 25px 0px 40px 0px var(--side-rectangle-3-box-shadow-colour);

    --now-playing-subsection-duration: 14s;
    --now-playing-subsection-animation: nowPlayingSubsection var(--now-playing-subsection-duration) infinite forwards linear;
    --now-playing-subsection-animation-delay: calc(var(--now-playing-subsection-duration) / 2);

    --accuracy-line-x: 1260px;
    --team-avatar-x: 11px;
    --team-name-x: 169.688px;
    --team-seed-x: 169.287px;
    --bottom-row-side-rectangle-1-x: 0px;
    --bottom-row-side-rectangle-2-x: 60px;
    --bottom-row-side-rectangle-3-x: 120px;
    --bottom-row-side-rectangle-4-x: 180px;
    --playing-score-x: 478.5px;
    --bottom-middle-section-height: 154px;
    --chat-display-title-height: 35px;
    --chat-display-padding-left: 10px;
    --chat-display-container-padding-top: 5px;
}

/* Whole Body */
body { font-family: "Orlando Caps CG"; }
.main { background-image: url("static/background.png") }

/* Team Avatars */
.team-avatar {
    --dimension: 137px;
    border: 3px solid rgb(32, 32, 32);
    position: absolute;
    top: 886px;
    width: var(--dimension);
    height: var(--dimension);
}
.red-team-avatar { left: var(--team-avatar-x); }
.blue-team-avatar { right: var(--team-avatar-x); }

/* Team Names */
.team-name {
    font-size: 50px;
    position: absolute;
    top: 890px;
    letter-spacing: -0.75px;
}
.red-team-name { 
    color: var(--red-colour);
    left: var(--team-name-x);
}
.blue-team-name { 
    color: var(--blue-colour);
    right: var(--team-name-x);
}

/* Team Seed */
.team-seed {
    font-size: 25px;
    position: absolute;
    top: 935.5px;
    letter-spacing: -0.75px;
}
.red-team-seed {
    color: var(--red-colour);
    left: var(--team-seed-x)
}
.blue-team-seed {
    color: var(--blue-colour);
    right: var(--team-seed-x)
}

/* Team Star Container */
.team-star-container {
    position: absolute;
    left: 170px;
    top: 966px;
    display: flex;
    gap: 2px;
    height: 58px;
}
.red-team-star-container { left: 170px; }
.blue-team-star-container {
    right: 170px;
    flex-direction: row-reverse;
}
/* star Wrapper */
.star-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 58px;
}
