/* Whole Body */
body { font-family: "Orlando Caps CG"; }
.main { background-image: url("static/background.png") }

/* Team Data */
.team-data { top: 15px; }

/* Round Text */
.round-text {
    position: absolute;
    left: 50%;
    top: 21px;
    transform: translateX(-50%);
    font-size: 25px;
    color: var(--dark-gray);
    text-align: center;
    line-height: 0.85;
}

.tournament-name {
    position: absolute;
    left: 50%;
    top: 16px;
    transform: translateX(-50%);
    font-size: 25px;
    color: var(--dark-gray);
    text-align: center;
    line-height: 0.9;
}
