:root {
    --stat-section-main-text-padding-left: 14px;
    --light-gray: #E1E1E1;
    --dark-gray: #303030;

    --title-name-animation-time: 20s;
    --title-name-animation: infiniteScrollTransform var(--title-name-animation-time) infinite linear forwards;
    --mapper-name-animation-time: 20s;
    --mapper-name-animation: infiniteScrollTransform var(--mapper-name-animation-time) infinite linear forwards;
    --difficulty-name-animation-time: 20s;
    --difficulty-name-animation: infiniteScrollTransform var(--difficulty-name-animation-time) infinite linear forwards;
}

/* Whole Page */
body { font-family: "Orlando Caps CG"; }
.main { background-image: url("static/background.png"); }

/* Title */
.title {
    font-size: 66.667px;
    color: var(--dark-gray);
    position: absolute;
    left: 56px;
    top: 29px;
    letter-spacing: -0.5px;
}

/* Round Name*/
.round-name {
  font-size: 41.667px;
  color: var(--dark-gray);
  position: absolute;
  left: 57px;
  top: 98px;
  letter-spacing:0.5px;
}

/* Stats Section */
.info-box {
    position: absolute;
    right: 0;
    top: 180px;
    width: 424px;
    color: var(--light-gray);
}
/* Stats Section */
.info-section {
    width: inherit;
    display: flex;
    align-items: center;
}
/* Section Text */
.section-text {
    padding-left: var(--stat-section-main-text-padding-left);
    white-space: nowrap;
}
/* Name 50px */
.name-50px { font-size: 50px; }

/* Identifier Section */
.identifier-section { height: 116px; } 
.identifier-name {
    font-size: 100px;
    padding-top: 2px;
}

/* Mod Section */
.mod-section { height: 58px; }

/* Title Section */
.title-section {
    position: relative;
    margin-top: 42px;
    height: 86px;
    line-height: 86px;
}
.title-section > * {
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    overflow: hidden;
}

/* Mapper Section */
.mapper-section {
    position: relative;
    height: 44px;
    line-height: 44px;
}
.mapper-section > * {
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    overflow: hidden;
}

/* Difficulty Section */
.difficulty-section {
    position: relative;
    height: 32px;
    line-height: 32px;
}
.difficulty-section > * {
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    overflow: hidden;
}

/* Title Scrolling */
.title-scroll > * { position: absolute; }
#title-name-2 { animation: var(--title-name-animation) }
#title-name-3 {
    animation: var(--title-name-animation);
    animation-delay: calc(var(--title-name-animation-time) / 2);
}

/* Mapper Section Scrolling */
.mapper-scroll > * { position: absolute; }
#mapper-name-2 { animation: var(--mapper-name-animation) }
#mapper-name-3 {
    animation: var(--mapper-name-animation);
    animation-delay: calc(var(--mapper-name-animation-time) / -2);
}

/* Mapper Section Scrolling */
.difficulty-scroll > * { position: absolute; }
#difficulty-name-2 { animation: var(--difficulty-name-animation) }
#difficulty-name-3 {
    animation: var(--difficulty-name-animation);
    animation-delay: calc(var(--difficulty-name-animation-time) / -2);
}
.difficulty-name { font-size: 25px; width: max-content; }

@keyframes infiniteScrollTransform {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    48% {
        transform: translateX(-100%);
        opacity: 1;
    }
    48.0001%, 49% { 
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        transform: translateX(calc(100% + 14px));
        opacity: 0;
    }
    51% {
        transform: translateX(calc(100% + 14px));
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Mapper Section / Replayer Name */
.replayer-section { height: 44px; }
.mapper-name { font-size: 33.333px; width: max-content; }
.replayer-name { font-size: 25px; }

/* Stats Box */
.stats-box { height: 388px; }
.stats-grid {
    display: grid;
    grid-template-columns: 244px 70px;
    grid-template-rows: repeat(7, 55px);
    font-size: 25px;
    align-items: center;
    margin-left: 27px;
}