:root {
    --dark-gray: #303030;
}

/* Whole Page */
body {
    font-family: "Orlando Caps CG";
}
.main { background-image: url("static/background.png"); }

/* Title */
.title {
    font-size: 66.667px;
    color: var(--dark-gray);
    position: absolute;
    left: 56px;
    top: 29px;
    letter-spacing: -0.5px;
}

.round-name {
  font-size: 41.667px;
  color: var(--dark-gray);
  position: absolute;
  left: 57px;
  top: 98px;
  letter-spacing:0.5px;
}
