:root {
    --stat-section-main-text-padding-left: 14px;
    --light-gray: #E1E1E1;
    --dark-gray: #303030;
}

/* Whole Page */
body { font-family: "Orlando Caps CG"; }
.main { background-image: url("static/background.png"); }

/* Title */
.title {
    font-size: 66.667px;
    color: var(--dark-gray);
    position: absolute;
    left: 56px;
    top: 29px;
    letter-spacing: -0.5px;
}

/* Round Name*/
.round-name {
  font-size: 41.667px;
  color: var(--dark-gray);
  position: absolute;
  left: 57px;
  top: 98px;
  letter-spacing:0.5px;
}

/* Stats Section */
.info-box {
    position: absolute;
    right: 0;
    top: 180px;
    width: 424px;
    color: var(--light-gray);
}
/* Stats Section */
.info-section {
    width: inherit;
    display: flex;
    align-items: center;
}
/* Section Text */
.section-text { padding-left: var(--stat-section-main-text-padding-left); }
/* Name 50px */
.name-50px { font-size: 50px; }

/* Identifier Section */
.identifier-section { height: 116px; } 
.identifier-name {
    font-size: 100px;
    padding-top: 2px;
}

/* Mod Section */
.mod-section { height: 58px; }

/* Title Section */
.title-section {
    margin-top: 42px;
    height: 86px;
}

/* Mapper Section / Replayer Name */
.mapper-section, .replayer-section { height: 44px; }
.mapper-name { font-size: 33.333px; }
.replayer-name { font-size: 25px; }

/* Difficulty Section */
.difficulty-section { height: 32px; }
.difficulty-name { font-size: 25px; }

/* Stats Box */
.stats-box { height: 388px; }
.stats-grid {
    display: grid;
    grid-template-columns: 244px 70px;
    grid-template-rows: repeat(7, 55px);
    font-size: 25px;
    align-items: center;
    margin-left: 27px;
}